
*.cache
*.props
Methods/Detection/.vs/Detection/v15/.suo
Methods/Detection/.vs/Detection/v15/Server/sqlite3/db.lock
Methods/Detection/.vs/Detection/v15/Server/sqlite3/storage.ide
Methods/Detection/.vs/Detection/v15/Server/sqlite3/storage.ide-shm
Methods/Detection/.vs/Detection/v15/Server/sqlite3/storage.ide-wal
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Accord.dll.config
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/CoapProfiling.dll
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/CoapProfiling.pdb
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/CoapProfiling.runtimeconfig.dev.json
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/CoapProfiling.runtimeconfig.json
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/CoapProfiling.deps.json
Methods/Detection/CoapProfiling/obj/CoapProfiling.csproj.nuget.g.targets
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/CoapProfiling.AssemblyInfo.cs
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/CoapProfiling.csproj.FileListAbsolute.txt
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/CoapProfiling.dll
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/CoapProfiling.pdb
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Methods/Detection/CoapProfiling/obj/project.assets.json
*.user
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Ironstone.Analyzers.CoapProfiling.deps.json
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Ironstone.Analyzers.CoapProfiling.dll
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Ironstone.Analyzers.CoapProfiling.pdb
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Ironstone.Analyzers.CoapProfiling.runtimeconfig.dev.json
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Ironstone.Analyzers.CoapProfiling.runtimeconfig.json
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-learn.csv
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-test.csv
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/Ironstone.Analyzers.CoapProfiling.dll
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/Ironstone.Analyzers.CoapProfiling.pdb
Methods/Detection/CoapProfiling/obj/Debug/netcoreapp2.2/project.razor.json
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-flood.csv
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-aggregated.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-aggregated.test
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-simple.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-simple.test

*.lock

*.ide

*.ide-shm

*.ide-wal

*.xml

Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/coap120_learn120.txt

Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/coap120_profile.txt

Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/coap120_test120.txt

Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/coap120.profile

Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-abnormal.csv

Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/coap-test2.csv

Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/tests.sh

Methods/Detection/CoapProfiling/coap2.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/cross.cmd
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/all_attack30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/all_idle30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/all_observe30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/all_regular30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/attack30.profile.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/attack_attack30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/attack_idle30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/attack_observe30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/attack_regular30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle-attack30.dist
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle-idle30.dist
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle-observe30.dist
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle-regular30.dist
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle30.profile.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle_attack30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle_idle30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle_observe30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle_regular30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle_regular_attack30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/observe30.profile.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/observe_attack30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/observe_idle30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/observe_observe30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/observe_regular30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/Readme.md
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular-attack30.dist
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular-idle30.dist
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular-observe30.dist
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular30.profile.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular_attack30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular_idle30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular_observe30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular_regular30.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Profiles/attack30.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Profiles/idle.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Profiles/idle30.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Profiles/idle30x.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Profiles/observe30.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Profiles/Readme.md
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Profiles/regular.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Profiles/regular30.profile
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/attack.csv
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/idle.csv
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/observe.csv
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/SampleData/regular.csv
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle-attack30.dist.md
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/idle_attack30.md
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/model-put_con_floor_1_1_temp.csv
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular.profile.txt
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular30.profile.md
Methods/Detection/CoapProfiling/bin/Debug/netcoreapp2.2/Dumps/regular_observe30.md
